/*------------------------reset-------------------------------*/
* {
  box-sizing: border-box;  
  padding: 0;
  margin: 0 auto ;
}

/*------------------------ menu -------------------------------*/
#menuH{
    position:fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0px 0px;
    height:100%;
    width: 110px;
    background-color:#3D4454;
     margin: 0 auto; 
}

#menuH ul{
    max-width: 500px;
    list-style: none;
    padding: 0%;
    background-color:#3D4454;
}

#menuH ul li{
    display:block;
}

#menuH ul li a{
    color: #fff;
    padding: 20px;
    display:block;
    text-decoration: none;
    transition: all .6s;
}

#menuH ul li a:hover{
    background-color: rgb(64, 81, 180);

}
/*----------------------- text font e cores -------------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    text-align: center;
   
}
body {
    color: #333;
    background-image:url(imagens/forest.jpg);
    background-repeat:round;
    width: 100%;
    height: 100%;
    object-fit:fill;
}

body, input, select, textarea {
    
    font-family:'Courier New', Courier, monospace,sans-serif;
}

p{
    font-size: 16px;
    margin-bottom: 1.5em;
    line-height: 1.4em;
    margin: 0 auto;
    color: #fff;
 }


/*------------------------ linck -------------------------------*/
a:link {
    color: #0F599F;
}

a:visited {
    color: #666;
}

a:hover {
    color: #000;
    text-decoration: none;
}

a:focus {
    outline: 1px dotted rgb(255, 255, 255);
}

a:active {
    color: #F00;
}


/*------------------------ index -------------------------------*/
.container {
    
    font-weight: lighter;
    font-size: 14pt;
    margin: 0 auto;
    width: 960px;
    color: #0F599F;
    }
/*------------------------ rodapé -------------------------------*/
    #rodape {
      
       
        padding:0;
        display:flex;
        overflow: hidden;
        bottom: 0;
        height: 95px;
        width: 100%;
        color: #3D4454;
        background-color: #3D4454;
        
    }



/*----------------------- imagens do feed- ----------------------------*/

#feed{
    display: grid;
    place-items: center;
    height:70vh;
}

 #items-wrapper{
    width: 100vw;
} 

#items{
    display: flex;
    scroll-snap-type:x mandatory;
    overflow-x:auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.item{
    flex: none;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    pointer-events: none;
}

    img{
        width: 100%;
        height: 100%;
        object-fit:cover;    
    }
/*----------------------- imagens do feed- ----------------------------*/




    
 
    